.profile-section{
  display: flex;
  max-width: 768px;
  width: 100%;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  padding: 30px;
  background-color: #f7fafc;
  min-height: 230px;

  .content{
   display: flex;
   flex-direction: column;
   .content-01{
    display: flex;
    justify-content: center;

   }
   .content-02{
    margin-top: 20px;
   }
  }
  .header-content{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    
  }


}