@use "./../../styles/default.scss" as *;
.profile-section{
  display: flex;
  max-width: 1000px;
  width: 100%;  
  flex-direction: column;
  border: 1px solid #f2f2f2;
  padding: 30px;
  background-color: #fff;
  min-height: 250px;

  .content{
   display: flex;
   flex-direction: column;
   gap: 20px;
   .content-01{
    display: flex;
    justify-content: center;

   }
   .content-02{
    margin-top: 20px;
   }
  }
  .header-content{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    .MuiAvatar-root{
      border: 1px solid #e4e9ee;
    }
    
  }


}