@mixin responsive($breakpoint) {
  @if($breakpoint == xs){
    @media screen and (max-width: 479px) {
      @content;
    }

  }@else if($breakpoint == sm){
    @media screen and (min-width: 480px) and (max-width: 767px) {
      @content;
    }
  }@else if($breakpoint == md){
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  }@else if($breakpoint == lg){
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      @content;
    }
  }@else if($breakpoint == xl){
    @media screen and (min-width: 1280px) {
      @content;
    }
  }
}