@use "../styles/default.scss" as *;




.o{
  display: flex !important;
  
  .content-section{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    
    gap: 24px;
    .content{
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #f2f2f2;
      
      
      
    }
    border-left: 1px solid #f2f2f2;
  }

}
