@use "../../styles/default.scss" as *;
.MuiDrawer-docked,.MuiPaper-root {


  display: flex;
  flex: 0 0 auto !important;
}
.MuiPaper-root{
   
  position: sticky !important;
  top: 60px;
  border-right: 1px solid $BlogBorder !important;
  display: flex;
  flex-direction: column;
  gap: 32px;
  .sb-block{
   
    width: 100%;
    .sb-content{
      display: flex;
      flex-direction: column;
      gap: 32px;
      .sb-content-01{
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding-top: 16px;
        .path{
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 0 28px 0 24px;
          width: 100%;
        }
       
      }
      
    }
  }

}